body {
	background: #FEFEFE;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #AFAFAF;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-bottom: 5px;
}

h1 {
	font-size: 24pt;
}

p {
	font-size: 12pt;
	line-height: 1.5;
}

label {
	font-size: 14pt;
}

a:visited {
	color: blue;
}

a:hover {
	color: hotpink;
}

.success {
	color: #28a745;
}

.failure {
	color: #dc3545;
}