<article>
  <header>
    <h1>{{title}}</h1>
  </header>

  <p>
    A palindrome is a word or phrase that is spelled the same backwards as it is forwards. "Racecar" is an example of a single word palindrome, but the phrase "Go hang a salami, I’m a lasagna hog." would also count as a palindrome, because we ignore white space and punctuation.
  </p>

  <form onsubmit="formSubmit()">
    <label for="phrase">Enter text to test for palindromity:</label>
    <input type="text" name="phrase" id="phrase">
    <input type="submit" value="Submit">
  </form>

  <ul id="attempts">
  </ul>

  <script src="/public/js/form.js"></script>
</article>