<article>
  <header>
    <h1>{{title}}</h1>
  </header>

  <p>
    A palindrome is a word or phrase that is spelled the same backwards as it is forwards. "Racecar" is an example of a single word palindrome, but the phrase "Go hang a salami, I’m a lasagna hog." would also count as a palindrome, because we ignore white space and punctuation.
  </p>

  <form action="/result" method="post">
    <label for="text-to-test">Enter text to test for palindromity:</label>
    <input type="text" name="text-to-test" id="text-to-test">
    <input type="submit" value="Submit">
  </form>
</article>